<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstract Classification</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <h1>Abstract Classification</h1>
    </header>
    <main>
        <section id="input-section">
            <h2>Enter an Abstract:</h2>
            <textarea id="abstract-input" placeholder="Type your abstract here..."></textarea>
            <button id="classify-button">Classify</button>
        </section>
        <section id="result-section">
            <h2>Classification Result:</h2>
            <div class = "colorblock">
                <div class = "objective color-box"></div><span>Objective</span>
                <div class = "methods color-box"></div><span>Method</span>
                <div class = "results color-box"></div><span>Result</span>
                <div class = "conclusions color-box"></div><span>Conclusions</span>
                <div class = "background color-box"></div><span>Background</span>
            </div>
            <div id="classification-result"></div>
        </section>
    </main>
    <script type="module" src="static/js/classify.js"></script>
    <script type="module" src="static/js/script.js"></script>
</body>
</html>
